/*DARK MODE*/

.fourth span{   
            text-shadow: 4px 4px 8px $grayShadow, -4px -4px 8px $grayShadowDark;    
        }    

/*Button*/
    
    button.up.dark{
        color: $grayShadowDark;    
        text-shadow: 2px 2px 4px $grayShadowDarker, -2px -2px 4px $grayPrimaryColor;
        box-shadow: 4px 4px 8px $grayShadowDark, -4px -4px 8px $grayPrimaryColor;
    }
    button.down.dark{
        color: $grayShadowDark;    
        text-shadow: 2px 2px 4px $grayShadow, -2px -2px 4px $grayShadowDarker;
        box-shadow: 4px 4px 8px $grayShadow, -4px -4px 8px $grayShadowDark;
        font-stretch: extra-condensed;
    }
    button.up.light{
        color: $grayShadowLight;    
        text-shadow: 2px 2px 4px $graySecondaryColor, -2px -2px 4px $grayShadowLight;
        box-shadow: 4px 4px 8px $grayShadow, -4px -4px 8px $grayShadowLight;
    }
    button.down.light{
        color: $grayShadowLight;    
        text-shadow: 2px 2px 4px $grayShadowLight, -2px -2px 4px $graySecondaryColor;
        box-shadow: 4px 4px 8px $grayShadowLight, -4px -4px 8px $grayShadow;
        font-stretch: extra-condensed;
    }
    button.up.red{    
        color: $redPrimaryColor;
        text-shadow: 2px 2px 4px $redShadowDarker, -2px -2px 4px $redShadowLighter;
        box-shadow: 4px 4px 8px $grayShadowDark, -4px -4px 8px $redShadowLight;    
    }
    button.down.red{    
        color: $redPrimaryColor;
        text-shadow: 2px 2px 4px $redShadowLight, -2px -2px 4px $redShadowDarker;
        box-shadow: 4px 4px 8px $redShadowLight, -4px -4px 8px $grayShadowDark;
        font-stretch: extra-condensed;
    }
    button.up.black{
        text-shadow: 2px 2px 4px $redShadowDarker, -2px -2px 4px $redShadowLighter;
        box-shadow: 4px 4px 8px $grayShadowDark, -4px -4px 8px $redShadowLight;    
    }
    button.down.black{
        text-shadow: 2px 2px 4px $redShadowLight, -2px -2px 4px $redShadowDarker;
        box-shadow: 4px 4px 8px $redShadowLight, -4px -4px 8px $grayShadowDark;
        font-stretch: extra-condensed;
    }
  


/*Colors*/
.color-red{
    background-color: $redPrimaryColor;
}
.color-gray-secondary{
    background-color: $graySecondaryColor;
}
.text-gray-secondary-color{
    color: $graySecondaryColor;
}
.text-color-red{
    color: $redPrimaryColor;
}
/*Shadows*/
.text-gray-secondary-shadow{
    text-shadow: 4px 4px 8px $grayShadowDark, -4px -4px 8px $grayShadow;
}
.gray-secondary-out{
    border: solid 5px $graySecondaryColor;
    box-shadow: 4px 4px 8px $grayShadowDark, -4px -4px 8px $grayPrimaryColor;
}
.gray-secondary-in{
    border: solid 5px $graySecondaryColor;
    box-shadow: 4px 4px 8px $grayShadow, -4px -4px 8px $grayShadowDark;
}
.red-secondary-out{
    border: solid 5px $graySecondaryColor;
    box-shadow: 4px 4px 8px $grayShadowDark, -4px -4px 8px $redShadowLight;
}
.red-secondary-in{
    border: solid 5px $graySecondaryColor;
    box-shadow: 4px 4px 8px $redShadowLight, -4px -4px 8px $grayShadowDark;
}

@media screen and (max-width: 800px){    
    .fourth h1{
        text-shadow: 3px 3px 6px $grayShadowDark, -3px -3px 6px $grayShadow;
    }
}
@media screen and (max-width: 630px){    
    .fourth h1{
        color: $graySecondaryColor;
        text-shadow: 2px 2px 4px $grayShadowDark, -2px -2px 4px $grayShadow;
    }
}