/*DARK MODE*/
.dark-mode span{ 
     text-shadow: 4px 4px 8px $grayShadow, -4px -4px 8px $grayShadowDark;   
    color: $redShadowLighter;   
}   

@mixin text-box($color, $color_1, $color_2, $color_3, $color_4){
    color: $color;
    text-shadow: 2px 2px 4px $color_1, -2px -2px 4px $color_2;
    box-shadow: 4px 4px 8px $color_3, -4px -4px 8px $color_4;
}
@mixin border-box($color, $color_1, $color_2){
    border: solid 5px $color;
    box-shadow: 4px 4px 8px $color_1, -4px -4px 8px $color_2;
}

/*Button*/        
    .up-dark{
        @include text-box($grayShadowDark, $grayShadowDarker, $grayPrimaryColor, $grayShadowDark, $grayPrimaryColor);
    }  

/*Colors*/
.color-red{
    background-color: $redShadowLighter;
}
.color-gray-secondary{
    background-color: $graySecondaryColor;
}
.text-gray-secondary-color{
    color: $graySecondaryColor;
}
.text-gray-secondary-color-darker{
    color: $grayShadowDarker;
}

/*Shadows*/
.text-gray-secondary-shadow{
    text-shadow: 4px 4px 8px $grayShadowDark, -4px -4px 8px $grayShadow;
}
.text-gray-secondary-shadow-dark{
    text-shadow: 2px 2px 4px $grayShadowDarker, -2px -2px 4px $grayPrimaryColor;
}
.gray-secondary-out{
    @include border-box($graySecondaryColor, $grayShadowDark, $grayPrimaryColor );
}
.gray-secondary-in{
    @include border-box($graySecondaryColor, $grayShadow, $grayShadowDark );
}
.red-secondary-out{
    @include border-box($graySecondaryColor, $grayShadowDark, $grayShadowLight);
}

@media screen and (max-width: 800px){    
    .dark-mode h1{
        text-shadow: 3px 3px 6px $grayShadowDark, -3px -3px 6px $grayShadow;
    }
}
@media screen and (max-width: 630px){    
    .dark-mode h1{
        color: $graySecondaryColor;
        text-shadow: 2px 2px 4px $grayShadowDark, -2px -2px 4px $grayShadow;
    }
}