
/*LIGHT MODE*/


.light-mode{
    display: none;
    span{
        text-shadow: 4px 4px 8px $grayShadowLight, -4px -4px 8px $grayShadow;
    }
}    


/*Button*/

    .up-light{        
        color: $grayShadow;
        text-shadow: 2px 2px 4px $graySecondaryColor, -2px -2px 4px $grayShadowLight;     
        box-shadow: 4px 4px 8px $grayShadow , -4px -4px 8px $grayShadowLight;        
    }
    .down-light{   
        color: $grayShadow; 
        text-shadow: 2px 2px 4px $grayShadowLight, -2px -2px 4px $graySecondaryColor;
        box-shadow: 4px 4px 8px $grayShadowLight, -4px -4px 8px $grayShadow;
        font-stretch: ultra-condensed;
        font-weight: bolder;
    }
    .up-green{        
        color: $greenPrimaryColor;
        text-shadow: 2px 2px 4px$greenShadow, -2px -2px 4px $greenShadowLight;     
        box-shadow: 4px 4px 8px $grayShadow, -4px -4px 8px $greenShadowLighter;        
    }
    .down-green{    
        color: $greenPrimaryColor;
        text-shadow: 2px 2px 4px $greenShadowLighter, -2px -2px 4px $greenShadow;
        box-shadow: 4px 4px 8px $greenShadowLighter, -4px -4px 8px $grayShadow;
        font-stretch: ultra-condensed;        
    }
    .up-blue{        
        color: rgb(0, 217, 255);
        text-shadow: 2px 2px 4px $graySecondaryColor, -2px -2px 4px $grayShadowLight;     
        box-shadow: 4px 4px 8px $grayShadow, -4px -4px 8px $grayShadowLight;
    }
    .down-blue{    
        color: rgb(61, 61, 253);
        text-shadow: 2px 2px 4px $grayShadowLight, -2px -2px 4px $graySecondaryColor;
        box-shadow: 4px 4px 8px $grayShadowLight, -4px -4px 8px $grayShadow;
        font-stretch: ultra-condensed;
    }

 
/*Colors*/
.color-green{
    background-color: $greenPrimaryColor;
}
.color-gray-primary{
    background-color: $grayPrimaryColor;
}
.text-color-green{
    color: $greenPrimaryColor;
}
.text-gray-primary-color{
    color: $grayPrimaryColor;
}
/*Shadows*/
.text-gray-primary-shadow{
    text-shadow: 4px 4px 8px $grayShadow, -4px -4px 8px $grayShadowLight;
}

.gray-primary-out{
    border: solid 5px $grayPrimaryColor;
    box-shadow: 4px 4px 8px $grayShadow, -4px -4px 8px $grayShadowLight;
}
.gray-primary-in{
    border: solid 5px $grayPrimaryColor;
    box-shadow: 4px 4px 8px $grayShadowLight, -4px -4px 8px $grayShadow;
}
.gray-primary-out-dark-shadow{
    border: solid 5px $grayPrimaryColor;
    box-shadow: 4px 4px 8px $grayShadowDark, -4px -4px 8px $grayPrimaryColor;
}
.gray-primary-in-dark-shadow{
    border: solid 5px $grayPrimaryColor;
    box-shadow: 4px 4px 8px $grayShadow, -4px -4px 8px $grayShadowDark;
}

@media screen and (max-width: 800px){    
    .light-mode h1{    
        text-shadow: 3px 3px 6px $grayShadow, -3px -3px 6px $grayShadowLight;    
    }
}
@media screen and (max-width: 630px){    
    .light-mode h1{    
        text-shadow: 2px 2px 4px $grayShadow, -2px -2px 4px $grayShadowLight;    
    }
}