h1{    
    font-weight: bold;
    font-size: 5rem;
    margin: 10px 0px;
}
h2{
    font-weight: bolder;
    font-size: 2rem;    
    padding-bottom: 35px;
}
h3{
    padding: 10px 5px;
    font-size: 1.5rem;
}
h4{
    padding: 8px 0px 8px 10px;
}
p{
    font-size: 0.9rem;
    padding: 3px ;
}
ul, ol{
    padding: 20px;
    font-size: 1.2rem;
}
li{
    padding: 3px;
    font-size: 0.9rem;
}
