*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px $grayShadowDarker;
    background-color: $graySecondaryColor;
    padding: 0px 2px;
}
::-webkit-scrollbar-button{
    background-color: $grayShadowDark;
}
::-webkit-scrollbar-thumb{
    background: $redShadowLighter;
    border-radius: 10px;
    padding: 3px;
    &:hover{
        background: $redShadowLight;
    }
}
header{
    padding: 20px 0px;
}
.container{    
    padding: 5% 10%;
    width: 100%;
}
a{
    text-decoration: none;
    display: block;
}
h1{    
    font-weight: bolder;
    font-size: 5em;
    margin: 10px 0px;
}
h2{
    font-weight: bolder;
    font-size: 2em;
    margin: 10px 0px;
}
h4{
    padding: 8px 0px 8px 10px;
}
p{
    font-size: 0.9em;
    padding: 3px 0px;
}
ul, ol{
    padding: 20px;
    font-size: 1.2rem;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: none;
    margin: 10px 10px;    
    font-size: large;
    font-weight: normal;
    &:hover{
        background-color: $grayShadow;
        background-color: $grayShadowLight;
    }
}  

.direction-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 10px;
}
.direction-row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

span{
    font-weight: bold;
    font-stretch: ultra-condensed;
}

/*circles*/
.circle-out{    
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.circle-in{
    border-radius: 50%;
    padding: 10%;
    width: 100%;
    height: 100%;    
}

/*squares*/
.square-out{
    padding: 5px;
    width: 100%;
   
}
.square-in{
    padding: 2%;
    width: 100%;
    height: 100%;
}
.square-out.square-out{
    height: 100%;
}
.square-out-round{
    border-radius: 30px;
    padding: 5px;
    width: 300px;
    height: 550px;
}
.square-in-round{
    border-radius: 30px;
    padding: 2%;
    width: 100%;
    height: 100%;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
@media screen and (max-width:1180px){
    .container{    
        padding: 4% 4%;
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    
    h1{    
        font-weight: bolder;
        font-size: 3em;
    }
    button{
        width: 80px;
        height: 40px;
        font-size: medium;
    }
}
@media screen and (max-width: 630px){
    .container{    
        padding: 5% 5%;
        width: 100%;
    }
    h1{    
        font-weight: bolder;
        font-size: 3em;
    }
    button{
        width: 70px;
        height: 35px;
        font-size: small;
    }
    

}
@media screen and (max-width: 500px){
    .container{    
        padding: 5% 5%;
        width: 100%;
    }
    h1{    
        font-weight: bolder;
        font-size: 2em;
    }

}

