//Light mode
    
$grayShadowLight: rgb(240, 240, 240);
$grayPrimaryColor: rgb(220, 220, 220);
$grayShadow: rgb(200, 200, 200);
$graySecondaryColor:rgb(160, 160, 160);
$grayShadowDark: rgb(100, 100, 100);
$grayShadowDarker:rgb(80, 80, 80);

$accentPrimaryColor:  rgb(11, 136, 126);
$accentShadowDarker: rgb(1, 43, 39);
$accentShadowLighter: rgb(142, 241, 233);
$accentShadowLight: rgb(94, 182, 175); 

