/*grey variables*/

$grayPrimaryColor: rgb(160, 160, 160);
$graySecondaryColor:rgb(80, 80, 80);
$grayShadow: rgb(100, 100, 100);
$grayShadowDark: rgb(40, 40, 40);
$grayShadowDarker: rgb(20, 20, 20);
$grayShadowLight: rgb(200, 200, 200);

/*green variables*/

$greenPrimaryColor: rgb(0, 255, 127);
/*$greenSecondaryColor: rgb(0, 148, 17);*/
$greenShadow: rgb(0, 80, 0);
$greenShadowLight: rgb(142, 245, 142);     
$greenShadowLighter: rgb(200, 255, 200);

/*red variables*/

$redPrimaryColor: rgb(255, 0, 0);
$redShadowDarker: rgb(80, 0, 0);
$redShadowLighter: rgb(255, 120, 120);
$redShadowLight: rgb(255, 60, 60);
    
