/*grey variables*/

$grayPrimaryColor: rgb(162, 208, 214);
$graySecondaryColor:rgb(116, 176, 180);
$grayShadowLight: rgb(180, 234, 243);
$grayShadow: rgb(9, 146, 135);
$grayShadowDark: rgb(3, 77, 64);
$grayShadowDarker: rgb(2, 65, 47);

/*red variables*/

$accentPrimaryColor: rgb(245, 145, 220);
//$accentShadowDarker: rgb(80, 0, 0);
$accentShadowLight: rgb(235, 111, 173);
$accentShadowLighter: rgb(238, 157, 195);


