/*grey variables*/

$grayPrimaryColor: rgb(160, 160, 160);
$graySecondaryColor:rgb(80, 80, 80);
$grayShadowLight: rgb(200, 200, 200);
$grayShadow: rgb(100, 100, 100);
$grayShadowDark: rgb(40, 40, 40);
$grayShadowDarker: rgb(20, 20, 20);

/*red variables*/

$accentPrimaryColor: rgb(255, 120, 120);
//$accentShadowDarker: rgb(80, 0, 0);
$accentShadowLight: rgb(255, 60, 60);
$accentShadowLighter: rgb(255, 120, 120);

